<div class="row">
  	<div class="twelve columns">
		<p id="notice"><%= notice %></p>
		<article>
			<h3><a href="#"><%= @product.title %></a></h3>
			<hr>
			<div class="row">
				<div class="six columns">
					<%= image_tag @product.image_url, :width => '200' %>
				</div>
				<div class="six columns">
					<h6><b>Description :</b></h6>
					<p><%=sanitize @product.description %></p>
					<p>
						<b><%= t('.price_show') %> : <%= number_to_currency(@product.price) %></b>
						<span><%= button_to t('.buy_show'), line_items_path(:product_id => @product) %></span>
					</p>
				</div>
			</div>
		</article>
		<br>
		<% if session[:user_id] %>
			<%= link_to t('.edit_show'), edit_product_path(@product) %> |
			<%= link_to t('.back_show'), products_path %>
		<% else %>
			<%= link_to t('.back_show'), store_path %>
		<% end %>
	</div>
</div>
