<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %> 
	<td><%= line_item.product.title %></td>
	<td style="text-align:center">
		<%= line_item.quantity %>
	</td>
	<td ><%= number_to_currency(line_item.total_price) %></td>
	<td>
		<% if @order.nil? %>
		<%= button_to '+', increment_line_item_path(line_item), :method => :put, remote: true%>
		<%= button_to '-', decrement_line_item_path(line_item), :method => :put, remote: true%><%= button_to 'X', line_item, :method => :delete, :confirm => 'Are you sure?' %>
		<% end %>
	</td>

</tr>
