<!-- Thumbnails -->
<div class="six columns">
  <h3>Last Scrolls</h3><hr>
  <div class="row">
    <% @products.each do |product| %>
      <div class="four mobile-two columns" id="product_home">
        <%= image_tag product.image_url %>
        <div class="panel" id="entry">
          <h5><small><%= product.title %></small></h5>
          <h6 class="subheader" id="price">
            <%= number_to_currency(product.price) %>
          </h6>
          <p><%= link_to 'Details', product %></p>
          <p>
            <%= button_to 'Buy', line_items_path(:product_id => product), :remote => true %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- End Thumbnails -->