  <br>
  <div class="row">

<!-- Side Bar -->

    <div class="five mobile-four columns">

      <%= image_tag('/images/bookmonkey.png', :size => '200x200' )%>

      <div class="hide-for-small panel">
        <h3>Welcome to the Dojo</h3>
        <h5 class="subheader">Here is the place where you gonna learn everything you need to became a Ruby Monkey Ninja.</h5>
      </div>

      <a href="#">
      <div class="panel callout radius" align="center">
        <%= render @cart %>
      </div>        
      </a>
    </div>

<!-- End Side Bar -->


<!-- Thumbnails -->

    <div class="seven columns">
      <div class="row">
        <% @products.each do |product| %>
          <div class="four mobile-two columns" id="product_home">
            <%= image_tag product.image_url %>
            <div class="panel">
              <h5><small><%= product.title %></small></h5>
              <h6 class="subheader">
                <%= number_to_currency(product.price) %>
              </h6>
              <p><%= link_to 'Details', product %></p>
              <p>
                <%= button_to 'Add to Cart', line_items_path(:product_id => product), :remote => true %>
              </p>
            </div>
          </div>
        <% end %>
      </div>

<!-- End Thumbnails -->


<!-- Managed By -->

        <div class="twelve columns">
          <div class="panel">
            <div class="row">

              <div class="two mobile-two columns">
                <%= image_tag('http://bemonkey.net/images/CodeMonkey.jpg') %>
              </div>

              <div class="ten mobile-two columns">
                <strong>This Site Was Made By <a href="http://bemonkey.net">Be Monkey</a><hr/></strong>

                Powered by rails 3.2
              </div>

            </div>
          </div>
        </div>

<!-- End Managed By -->

      </div>
    </div>